{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    {{ test }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Test info</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Description</td>
                        <td>{{ test.description }}</td>
                      </tr>
                      <tr>
                        <td>Num of questions</td>
                        <td>{{ test.questions.count }}</td>
                      </tr>
                      <tr>
                        <td>Num of runs</td>
                        <td>{{ test.test_results.count }}</td>
                      </tr>
                      <tr>
                        <td>Best result</td>
                        <td>{{ best_result }}</td>
                      </tr>
                      <tr>
                        <td>Last run</td>
                        <td>{{ last_run }}</td>
                      </tr>
                      <tr>
                        <td>Current open run</td>
                        <td>N/A</td>
                      </tr>
                    </tbody>
                  </table>
            </div>

            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{{ test.image.url }}">
                </div>

                <div class="d-flex justify-content-center mt-5 mb-5" >
                        <a href="{% url 'tests:start' test_id=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>
                </div>
{#                {% if test_result.is_new %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                        <a href="{% url 'test:next' pk=test.id %}" type="button" class="btn-lg btn-success">START ▶️</a>#}
{#                    </div>#}
{#                {% else %}#}
{#                    <div class="d-flex justify-content-center mt-5 mb-5" >#}
{#                        <a href="{% url 'test:next' pk=test.id %}" type="button" class="btn-lg btn-warning">CONTINUE ▶️</a>#}
{#                    </div>#}
{#                {% endif %}#}
            </div>
        </div>
    </div>

    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>User</th>
            <th>Started</th>
            <th>Time spent</th>
            <th>Points</th>
        </tr>
    {% for result in all_results %}
        <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.user }}</td>
            <td>{{ result.write_date }}</td>
            <td>{{ result.time_spent }}</td>
            <td>{{ result.points_achieved }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
