{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>{{ test_result.test.title }}</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Correct answers</td>
                        <td>{{ test_result.num_correct_answers }} / {{ test_result.test.questions_count }}</td>
                      </tr>
                      <tr>
                        <td>Score</td>
                        <td>{{ test_result_score|floatformat:2 }}</td>
                      </tr>
                      <tr>
                        <td>Time spent</td>
                        <td>{{ time_spent }}</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
            <div class="col-sm">
                <div class="d-flex justify-content-center">
                    <img class="rounded-circle p-1 m-1" width="350" height="350"  src="{% static 'common/finish.jpg' %}">
                </div>

                <div class="d-flex justify-content-center mt-5 mb-5" >
                    <a href="{% url 'tests:list' %}" type="button" class="btn-lg btn-success">START ANOTHER TEST ▶️</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
