{% extends 'base.html' %}
{% load static %}
{% block header %}
    Test list
{% endblock %}

{% block content %}
    {% if tests %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Level</th>
                  <th></th>
                </tr>
            </thead>

            {% for test in tests %}
                <tr>
                    <td><img class="rounded-circle p-1 m-1" width="150" height="150"  src="{{ test.image.url }}"></td>
                    <td> {{ test.title }}</td>
                    <td> {{ test.description }}</td>
                    <td>
                            <img class="p-1 m-1" width="140" height="38" src="{% static 'common/level_'%}{{ test.get_level_display }}.png">
                    </td>

{#                    <td> <img src="{% static 'common/level_.png' %}" height="30px" width="40px"/> </td>#}
                    <td> <a href="{% url 'tests:details' test.id %}">DETAILS</a></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No tests yet :(</p>
    {% endif %}
{% endblock %}
