{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
    Question #{{ question.order_number }}/{{ question.test.questions_count }}: <b>{{ question.text }}</b> ?
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        Possible answers:

        {{form_set.management_form}}

        {% for form in form_set %}
{#            <div class="checkbox">#}
{#              <label><input type="checkbox" name="{{ prefix }}{{ forloop.counter }}" value="1">   {{ answer }}</label>#}
{#            </div>#}
{#            {{ form.as_p }}#}
            <div class="mt-1">
{#                {{ form.is_selected }} <label for="{{ form.text.id_for_label }}">  {{ form.text.value }}</label>#}
                {{ form.is_selected }} <label>  {{ form.text.value }}</label>
            </div>

        {% endfor %}

        <div class="mt-3">
            <button type="submit" class="btn btn-success">Submit</button>

        </div>
    </form>
{% endblock %}
