{% extends 'base.html' %}

{% block header %}
    Test list
{% endblock %}

{% block content %}
    {% if tests %}
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>Level</th>
                  <th></th>
                </tr>
            </thead>

            {% for test in tests %}
                <tr>
                    <td><img class="rounded-circle p-1 m-1" width="150" height="150"  src="{{ test.image.url }}"></td>
                    <td> {{ test.title }}</td>
                    <td> {{ test.description }}</td>
                    <td> {{ test.level }}</td>
{#                    <td> <img src="{% static 'common/level_.png' %}" height="30px" width="40px"/> </td>#}
                    <td> <a href="{% url 'tests:details' test.id %}">DETAILS</a></td>
                </tr>
            {% endfor %}
        </table>

    {% else %}
        <p>No tests yet :(</p>
    {% endif %}

{% endblock %}
