{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Change password</title>
{% endblock %}

{% block header%}
<h3>Change password</h3>
{% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" class="btn btn-success" value="change password">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
    </form>
{% endblock %}
