{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block header %}
        <h1>User profile</h1>
{% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">

        <div class="media">
            <div class="img-circle.vert">
                <img class="rounded-circle p-1 m-1" width="200" height="200"  src="{{ user.image.url }}">
            </div>
    {#        <img class="rounded-circle p-1 m-1" width="300" height="{{ user.profile.image.height }}"  src="{{ user.profile.image.url }}">#}
    {#        <img class="img-circle p-1 m-1"  src="{{ user.profile.image.url }}">#}
            <div class="media-body  p-3 m-3">
                <h2 class="account-heading">{{ user.username }}</h2>
                <h3 class="account-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                <p class="text-secondary">{{ user.email }}</p>
            </div>
        </div>
        <h3>Tests done:</h3>    <table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>#</th>
            <th>Test</th>
            <th>Started</th>
            <th>Time spent</th>
            <th>Points</th>
        </tr>
    {% for result in all_results %}
        <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.test }}</td>
            <td>{{ result.write_date }}</td>
            <td>{{ result.time_spent }}</td>
            <td>{{ result.points_achieved }}</td>
        </tr>
    {% endfor %}
</table>

        <h3>Profile config:</h3>

        {% csrf_token %}

        {{form|crispy}}
{#        <div class = 'mb-3'>#}
{#            Raw passwords are not stored, you can change the password <a href="{% url 'accounts:password' %}">this form</a>#}
{#        </div>#}
{#        {{profile_form|crispy}}#}


        <input class="btn btn-success" type="submit" value="Save">
        <a class="btn btn-light" href="{% url 'core:index' %}">Cancel</a>
    </form>
{% endblock %}
