{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title%}
    <title>Tests list</title>
{% endblock %}

{% block header%}
<h3>Tests list</h3>
{% endblock %}

{% block content %}
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>User Title</th>
                <th>Name</th>
                <th>Last name</th>
                <th>E-mail</th>
                <th>Date of birth</th>
                <th>About</th>
                <th>Rating</th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.birth_date }}</td>
                <td>{{ user.bio }}</td>
                <td>{{ user.rating }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
