{% if messages %}
    <div class="container">
        <div class="border border-white rounded-pill shadow p-3 mb-5 mt-5 bg-white rounded">
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.message }}">
                        <h5>{{ message|safe }}</h5>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
